body {
  background-color: #EFEFEF;
}

h1 {
  color: #2D3F54;
}

.nav {
  container-type: inline-size;
  display: flex;
  column-gap: 1em;
  align-items: center;
  width: 100%;
  height: 4em;
  background-color: #2D3F54;
}

.nav-title {
  color: #FF8F5C;
  font-size: 2em;
  font-weight: bold;
  align-self: center;
}

.nav-button {
  color: #EFEFEF;
  text-decoration: none;
  align-self: center;
}

.nav-button:hover {
  color: #FF8F5C;
  text-decoration: underline;
}

.nav-menu-buttons{
  column-gap: 1em;
  display: flex;
  align-self: center;
}

.nav-menu-short {
  content-visibility: hidden;
}

.head-img {
  width: 100%;
}

.head-desc {
  margin: 1em;
}

.desc-text {
  color: #2D3F54;
  font-family: Georgia, serif;
  font-size: 1em;
}

.footer {
  background-color: #2D3F54;
}

@container (max-width: 300px) {
  .nav-menu-buttons {
    content-visibility: hidden;
  }
  .nav-menu-short {
    content-visibility: visible;
  }
}